.left {
    float: left;
}

.right {
    float: right;
}

body {
    margin: 0;  
}

.clearfix::after {
    display: block;
    content: "";
    clear: both; 
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 28px;
}

a {
    text-decoration: none;
    padding: 0px 10px;
    color: gray;
    font-size: 20px;
}

a:hover {
    color: red;
}

.container {
    background-image: url("../images/gravel.png");
    padding-bottom: 100px;
    margin: auto;
    border-bottom: solid #dddddd;
    border-top: solid #dddddd;
    width: auto;
}

.biobox {
    background-color: white;
    padding: 10px;
    border: #dddddd;
    border-style: solid;
    margin: 40px 220px;
    height: 475px;
    width: 960px;
}

.bio {
    padding: 10px;
}

.wrap {
    float: left;
    padding: 0px 10px 10px 0px;
}

.heading {
    background-color: #4aaaa5;
    margin-left: 221px;
    margin-bottom: 22px;
    padding: 3px 6px 3px 6px;
    line-height: 15px;

}

.centered {
    text-align: center;
}

footer {
    position: fixed;
    border-top: 8px solid #4aaaa5;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: gray;
    text-align: center;
}

.links {
    padding: 30px;
    margin-right: 220px;
    margin-top: -9px;
}

header {
    margin-top: -9px;
    margin-bottom: -22px;
}

.borders {
    border-right: solid 1px #dddddd;
    border-left: solid 1px #dddddd;
}

.form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 50%; 
    margin-left: 25%;
}

.form input {
    width: 100%;
    height:20px;
    border: solid 2px #dddddd;
    padding: 2px;
    margin: 10px auto;
    font-size: 14px;
    text-align: center;
}

.form input.bigbox {
    height:90px;
}

.form label {
    margin: 40px auto;
}

.form button {
    width: 50%;
    height: 50px;
    background-color: lightgreen;
    margin-left: 25%;
    margin-top: 15px;
    font-size: 18px;    
}

.form button:hover {
    background-color: green;
}

.box-set {
    position: relative;
    width: 100%;
    height: 425px;
}

.box {
    position: absolute;
    
}

.box1 {
    left: 0;
    top: 0;
}

.box2 {
    left: 25%;
    top: 0px;
}

.box3 {
    top: 0;
    left: 50%;
}

.box4 {
    top: 0;
    right:0;
}

.box5 {
    bottom: 0;
    left: 0;
}

.box6 {
    bottom: 0;
    left: 25%;
}
.box7 {
    bottom: 0;
    left: 50%;
}

.box8 {
    bottom: 0;
    right: 0;
}
#slim {
    margin-top: -4px;
    margin-bottom: -4px;
}

h3.portfolio {
    position: absolute;
    bottom: 10px;
    width: 80%;
    background-color:#dddddd;
    text-align: center;
    margin-left: 20px;
}