body {
    background-image: url(../images/mohammad-alizade-631039-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
 
@font-face {
    font-family: International; src: url(../International.ttf);
}
p {
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.links {
    text-align: center;
}

h4 {
    color: #ecaeaa;
    font-family: 'International';
    text-align: center; 
}

#red {
    color: black;

}

h2 {
    color: #48c5c9;
    border-bottom: 4px solid #ecaeaa; 
}

.navborders {
    border-left: 2px solid #48c5c9;
}

#nameHead {
    font-size: 47px;
    color: #48c5c9;
    text-decoration: none;
    transition: .25s ease;
}

#nameBrand {
    transition: .25s ease;
}

#nameBrand:hover {
    transform: scale(1.05); 
}

ul.navbar-nav {
    font-size: 25px;
}

#textColor {
    color: black;
}

#textPosandCol {
    color: black;
    left: 40%;
}

.navbar {
    font-family: 'International', sans-serif;
    padding: 50px; 
}


#portfolio {
    color: white;
    transition: .25s ease

}

#portfolio:hover {
    transform: scale(1.05)
}

#meetMe {
    color: white;
    transition: .25s ease
}

#meetMe:hover {
    transform: scale(1.05)
}

.carousel-inner > .item > img {
    width:640px;
    height:360px;
}

.cap {
    position: absolute;
    left: 0;
    width: 50%;
    top: 2%;
    text-align: left;
    margin-left: 10%;
}
.capp {
    position: absolute;
    right: 0;
    width: 50%;
    top: 2%;
    text-align: right;
    margin-left: 30%;
}
.carousel-caption>h5    {
    font-size: 5%;
}

.cborder {
    border: 4px groove black;
}

i.size {
   font-size: 50px;
   color: #48c5c9;  
   margin-left: 14px;  
}

.rowbord {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    padding: 30px;  
    margin-top: 40px;
    margin-bottom: 40px;
}


form>input#message { 
    height: 25px;
    width: auto;
}

.pad {
    padding-bottom: 70px; 
    padding-left: 25px; 
    padding-right: 25px; 
}

.padTop {
    padding-top: 45px;
}

.cleanup {
    padding-top: 5px; 
}

#profilePhoto {
    height: 400px;
    width: auto;
    box-shadow: 3px 2px 15px 3px rgba(255, 255, 255, .4);
    border: 4px groove black;   
    transition: .25s;
    border-radius: 70px;
}

#profilePhoto:hover {
    transform: scale(1.05)
}

form {
    text-align: center; 
}

.nameBrand {
    white-space: nowrap;

}

.center {
    text-align: center; 
}

.formUpdate {
    text-align: center; 
}

.submitButton {
    margin-top: 20px; 
    border-radius: 20px; 
}

.pictureSize {
    height: 200px; 
    width: auto; 
}

.buttonBackground {
    background-position: center; 
    background-size: cover; 
    height: 169px;
    width: 300px;
    margin: 10px auto;
    padding: 0;
    border-radius: 20px; 
    background-size: cover;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .3);
    position: relative;
}

.overlay {
    background-color: rgba(216, 128, 126, .7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    height: 100%;
    z-index: 1;
    border-radius: 20px; 
    transition: .5s ease;
}
      
button:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.websiteBanner {
    background: rgba(82, 64, 121, .65);
    position: absolute;
    width: 100%;
    top: 42%;   
    color: white;
    padding: 5px;
    font-family: 'International';
    font-weight: bold;
    z-index: 1;
}

#containerBackground {
    background-color: rgba(255, 255, 255, .4);
    padding: 20px; 
    padding-bottom: 40px;
    border-radius: 10px;
}

.portfolioTitles {
    text-align: center;
    font-family: 'International';
    color: #5a5067;
    font-weight: bold;

}

#siteButton {
    border-radius: 20px; 
    background-color: rgba(255,255,255,.8);
    color: rgb(12, 12, 62); 

}

.modal-header .close {
    padding: 0;
    margin: 0;
}

.modal-title {
    color: white; 
}

.modal-body {
    text-align: center;
}
.modal-content {
    background-color: rgba(255,255,255,.8);
    border-radius: 10px;
}
.modal-header, .modal-footer {
    background-color: rgba(12, 12, 62, .6)
}

.webButton{
    transition: .25s ease
}


.webButton:hover {
    transform: scale(1.1)
}

.size {
    transition: .25s ease
}

.size:hover {
    transform: rotate(-15deg) scale(1.3)
}

.opp:hover {
    transform: rotate(15deg) scale(1.3)
}

#navbarNav {
    padding-left: 15px; 
}

.backgroundDark {
    background-color: rgba(0, 0, 0, .5);
    padding: 30px; 
    border-radius: 20px;
    padding-bottom: 60px; 
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #nameBrand {
        text-align: center;
        padding-bottom: 20px;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}

    